.contents {
    display: flexbox;
    text-align: center;
}

.description {
    color: white;
}

.firstRow {
    margin-bottom: 3vh;
}

.deleteButton {
    float: right;
}

.mat-label {
    color: black;
}

.mat-select {
    color: black;
}
