.contents {
    display: flexbox;
    text-align: center;
}

/* .itemList {
    width:
} */

.itemText {
    color: black;
}

.firstRow {
    margin-bottom: 3vh;
}

.deleteButton {
    float: right;
}
